In [1]:
!pip install plotly

Collecting plotly
  Downloading plotly-4.11.0-py2.py3-none-any.whl (13.1 MB)
Requirement already satisfied: six in c:\users\shuva\anaconda3\lib\site-packages (from plotly) (1.15.0)
Collecting retrying>=1.3.3
  Downloading retrying-1.3.3.tar.gz (10 kB)
Building wheels for collected packages: retrying
  Building wheel for retrying (setup.py): started
  Building wheel for retrying (setup.py): finished with status 'done'
  Created wheel for retrying: filename=retrying-1.3.3-py3-none-any.whl size=11435 sha256=19a9006345031d95a1562335e85047cb2eac5ac906901653ff6debb359ca6f28
  Stored in directory: c:\users\shuva\appdata\local\pip\cache\wheels\f9\8d\8d\f6af3f7f9eea3553bc2fe6d53e4b287dad18b06a861ac56ddf
Successfully built retrying
Installing collected packages: retrying, plotly
Successfully installed plotly-4.11.0 retrying-1.3.3

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns 
import plotly.offline as pyo
import plotly.graph_objs as go

In [3]:
#Scatterplot
#Numerical vs Numerical

tips=sns.load_dataset('tips')

In [4]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [13]:
trace=go.Scatter(x=tips['total_bill'],
                 y=tips['tip'],
                 mode='markers',
                 text=tips['sex'],
                 marker={'color':'#00a65a','size':14}
                 )

data=[trace]

layout=go.Layout(title='Total Bill v Tip',
                 xaxis={'title':'Total Bill'},
                 yaxis={'title':'Tip'}
                )

fig=go.Figure(data,layout)

pyo.plot(fig)

'temp-plot.html'

In [18]:
stocks=pd.read_csv('big_five_stocks.csv')

In [19]:
stocks.head()

   Unnamed: 0   name    open   close    high     low  volume
0  1971-02-05  ^IXIC  100.00  100.00  100.00  100.00     0.0
1  1971-02-08  ^IXIC  100.84  100.84  100.84  100.84     0.0
2  1971-02-09  ^IXIC  100.76  100.76  100.76  100.76     0.0
3  1971-02-10  ^IXIC  100.69  100.69  100.69  100.69     0.0
4  1971-02-11  ^IXIC  101.45  101.45  101.45  101.45     0.0

In [20]:
stocks['name'].value_counts()

^IXIC    12252
AAPL      9760
MSFT      8433
AMZN      5607
GOOGL     3780
FB        1828
Name: name, dtype: int64

In [35]:
#Only Apple

aapl=stocks[stocks['name']=='AAPL']
msft=stocks[stocks['name']=='MSFT']
amzn=stocks[stocks['name']=='AMZN']
fb=stocks[stocks['name']=='FB']


trace=go.Scatter(x=aapl['Unnamed: 0'],y=aapl['open'],
                mode='lines',
                name='Apple',
                marker={'color':'#00a65a'}
                )
trace1=go.Scatter(x=aapl['Unnamed: 0'],y=msft['open'],
                  mode='lines',
                  name='Microsoft'
                 )
trace2=go.Scatter(x=aapl['Unnamed: 0'],y=googl['open'],
                  mode='lines',
                  name='Google',
                  #marker={'color':'#B2FF33'}
                 )
trace3=go.Scatter(x=aapl['Unnamed: 0'],y=amzn['open'],
                  mode='lines',
                  name='Amazon',
                  #marker={'color':'#5A33FF'}
                 )
trace4=go.Scatter(x=aapl['Unnamed: 0'],y=fb['open'],
                  mode='lines',
                  name='Facebook',
                  #marker={'color':'#FF33F8'}
                 )

data=[trace,trace1,trace2,trace3,trace4]

layout=go.Layout(title='Apple Stock Price',
                 xaxis={'title':'Time'},
                 yaxis={'title':'Stock Price'}
                )

fig=go.Figure(data,layout)

pyo.plot(fig)

'temp-plot.html'

In [39]:
#Bubble-plot

trace=go.Scatter(x=tips['total_bill'],
                 y=tips['tip'],
                 mode='markers',
                 #color=tips['smoker'],
                 marker={'size':tips['size']*10}
                 )

data=[trace]

layout=go.Layout(title='Total Bill v Tip',
                 xaxis={'title':'Total Bill'},
                 yaxis={'title':'Tip'}
                )

fig=go.Figure(data,layout)

pyo.plot(fig)

'temp-plot.html'

In [43]:
trace=go.Box(x=tips['tip'])
#trace1=go.Bar(x=tips[tips['sex']=='Female']['day'],y=tips['total_bill'],name='Female')

data=[trace]

layout=go.Layout(title='Some Graph')

fig=go.Figure(data,layout)

pyo.plot(fig)

'temp-plot.html'