In [18]:
import numpy as np
import pandas as pd
import requests

In [19]:
data=requests.get('https://api.themoviedb.org/3/movie/popular?api_key=55bd4b526b207cb38531d2484a816792&language=en-US&page=1').json()

In [ ]:
data['results']

In [21]:
#Structure of data['results']
#[{},{},{}]

In [13]:
[]

In [15]:
title=[]
overview=[]
release_date=[]
vote_avg=[]
original_language=[]
vote_count=[]
popularity=[]
for i in data['results']:
  title.append(i['title'])
  overview.append(i['overview'])
  release_date.append(i['release_date'])
  vote_avg.append(i['vote_average'])
  original_language.append(i['original_language'])
  vote_count.append(i['vote_count'])
  popularity.append(i['popularity'])

In [23]:
pd.DataFrame({
 'title':title,
 'overview':overview,
 'release_date':release_date,
 'vote_avg':vote_avg,
 'original_language':original_language,
 'vote_count':vote_count,
 'popularity':popularity
})

                                   title  ... popularity
0                Welcome to Sudden Death  ...   2535.744
1                           Enola Holmes  ...   1865.398
2                                  Mulan  ...   1286.045
3                          The Innocence  ...   1254.592
4                              Hard Kill  ...   1242.901
5                            Money Plane  ...   1222.209
6                                Beckman  ...   1069.129
7                                    Ava  ...   1039.787
8                                  Rogue  ...    971.422
9   Secret Society of Second Born Royals  ...    932.616
10                             Peninsula  ...    924.687
11                               Santana  ...    916.057
12                       Unknown Origins  ...    793.549
13             Cats & Dogs 3: Paws Unite  ...    773.578
14    American Pie Presents: Girls Rules  ...    768.706
15                               Archive  ...    669.075
16                  One Night in Bangkok  ...    611.181
17                           The Binding  ...    606.709
18                         Project Power  ...    570.759
19                                  2067  ...    564.866

[20 rows x 7 columns]

In [58]:
df=pd.DataFrame()
for j in range (1,501):

  data=requests.get('https://api.themoviedb.org/3/movie/popular?api_key=55bd4b526b207cb38531d2484a816792&language=en-US&page={}'.format(j)).json()

  title=[]
  overview=[]
  release_date=[]
  vote_avg=[]
  original_language=[]
  vote_count=[]
  popularity=[]

  for i in data['results']:
    
    try:
      title.append(i['title'])
    except:
      title.append(np.nan)
    try:
      overview.append(i['overview'])
    except:
      overview.append(np.nan)
    try:
      release_date.append(i['release_date'])
    except:
      release_date.append(np.nan)
    try:
      vote_avg.append(i['vote_average'])
    except:
      vote_avg.append(np.nan)
    try:
      original_language.append(i['original_language'])
    except:
      original_language.append(np.nan)
    try:
      vote_count.append(i['vote_count'])
    except:
      vote_count.append(np.nan)
    try:
      popularity.append(i['popularity'])
    except:
      popularity.append(np.nan)

  temp_df=pd.DataFrame({
    'title':title,
    'overview':overview,
    'release_date':release_date,
    'vote_avg':vote_avg,
    'original_language':original_language,
    'vote_count':vote_count,
    'popularity':popularity
    })
  
  df=df.append(temp_df,ignore_index=True)

In [46]:
df.head()

                     title  ... popularity
0  Welcome to Sudden Death  ...   2535.744
1             Enola Holmes  ...   1865.398
2                    Mulan  ...   1286.045
3            The Innocence  ...   1254.592
4                Hard Kill  ...   1242.901

[5 rows x 7 columns]

In [59]:
df.shape

(10000, 7)

In [56]:
df.duplicated().sum()

0

In [60]:
df.tail()

                    title  ... popularity
9995         Jack & Diane  ...     10.649
9996       Kiss Me Deadly  ...     10.649
9997              Syriana  ...     10.649
9998  Trespass Against Us  ...     10.648
9999         Ana's Desire  ...     10.646

[5 rows x 7 columns]

In [61]:
df.to_csv('TMDB_movies.csv')